<li class="task-list-entry">
    <div class="task-completion">
        {% if task.isCompleted %}
            <a href="{{ path('task.complete', { uuid : task.uuid }) }}" class="task-complete">
                <i class="mdi mdi-check-circle-outline"></i>
            </a>
        {% else %}
            <a href="{{ path('task.complete', { uuid : task.uuid }) }}" class="task-complete">
                <i class="mdi mdi-circle-outline"></i>
            </a>
        {% endif %}
    </div>
    <div class="task-label">
        {% if showProject is defined and showProject == true and task.project is not null %}
            {% include 'atom/project-link.html.twig' with { project : task.project } only %}
            <i class="mdi mdi-arrow-right"></i>
        {% endif %}
        <a href="{{ path('task.view', { uuid : task.uuid }) }}" class="{% if task.isCompleted %}completed{% endif %}">
            {{ task.title }}
            {% if task.completed %}
                <time>({{ task.completedDate | whelmeddate }})</time>
            {% endif %}
        </a>
    </div>
</li>
