<li class="task-list-entry">
    <div class="row">
        <div class="task-completion">
            {% if task.isCompleted %}
                <a href="{{ path('task.incomplete', { uuid : task.uuid }) }}" class="action-icon task-complete">
                    <i class="mdi mdi-check-circle-outline"></i>
                </a>
            {% else %}
                <a href="{{ path('task.complete', { uuid : task.uuid }) }}" class="action-icon task-complete">
                    <i class="mdi mdi-circle-outline"></i>
                </a>
            {% endif %}
        </div>
        <div class="task-label col-10">
            <a href="{{ path('task.view', { uuid : task.uuid }) }}"
               class="
                    {% if task.isCompleted %} completed{% endif %}
                    {% if not task.isCompleted and task.dueDate is not null and task.dueDate|past %}overdue{% endif %}
                ">
                {{ task.title }}
                {% if task.completed %}
                    <br>
                    <time>completed {{ task.completedDate | whelmeddate }}</time>
                {% endif %}
            </a>

            <p class="text-muted">
                {% if task.dueDate is not null %}
                    <i class="mdi mdi-alarm-check"></i>
                    {{ task.dueDate|whelmeddate }}

                    {% if showProject is defined and showProject == true or task.tag|length %}
                        <i class="mdi mdi-circle-small"></i>
                    {% endif %}
                {% endif %}

                {% if showProject is defined and showProject == true and task.project is not null %}
                    {% include 'atom/project-link.html.twig' with { project : task.project, showTaskCount : false } only %}

                    {% if task.tag|length %}
                        <i class="mdi mdi-circle-small"></i>
                    {% endif %}
                {% endif %}
                {% for tag in task.tag %}
                    <span class="tag badge badge-pill badge-light">{{ tag.title }}</span>
                {% endfor %}
            </p>


        </div>
        <div class="task-actions col-1">
            {% if not task.isCompleted %}
                {% include 'atom/task/task-action-flag.html.twig' with { task : task } only %}
            {% endif %}
        </div>

    </div>
</li>
