{% if app.user %}
<div class="col-1 button-nav">
    <div class="btn-group-vertical">
        <a href="{{ path('task.all') }}" class="btn "><i class="mdi mdi-star"></i> All</a>
        <a href="{{ path('perspective.inbox') }}" class="btn "><i class="mdi mdi-inbox"></i> Inbox</a>
        <a href="{{ path('project.collection') }}" class="btn "><i class="mdi mdi-format-list-checkbox"></i> Projects</a>
        <a href="{{ path('perspective.flagged') }}" class="btn "><i class="mdi mdi-flag-variant"></i> Flagged</a>
        <a href="{{ path('perspective.overdue') }}" class="btn "><i class="mdi mdi-alarm-check"></i> Overdue</a>
    </div>
</div>
{% endif %}
